// Общие цвета
black = #382f2d
gray = #aba8a8
light-gray = #e7e7e7
lightest-gray = #fafafa
main-gold = #ba8c58
light-gold = #c19869
lightest-gold = #c7a378
gray-gold = #d0bea4


// Разрешения
desktop-medium = "(max-width: 1680px)"
desktop-small = "(max-width: 1580px)"
laptop = "(max-width: 1480px)"
tablet-landscape-large = "(max-width: 1300px)"
tablet-landscape-medium = "(max-width: 1200px)"
tablet-landscape-small = "(max-width: 1100px)"
tablet-portrait = "(max-width: 960px)"
phone = "(max-width: 600px)"